body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #5374BD;
    color: #fff;
}

